.text {
    position: absolute;
    top: 300px;
    left: 7.5%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.button {
  padding: 5px;
  display: inline-block;
  width:  50px;
  margin: 0% 47.5%;
  cursor: pointer;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 0 lightgray;

}
.button:hover {
  transition: ease-in 0.2s;
  box-shadow: inset 50px 0 0 0 lightgray;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 45%;
  
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#second-div {
  /*background-image:linear-gradient(to right, #00BFFF, #FFD700);*/
  padding: 50px;
  background-color: #00bfff;
}

#third-div {
    padding: 50px;
    background-color: lightskyblue;
}
