.parallaxtext {
    height:100%;
    background-color:white;
    font-size:36px;
    text-align:center;
    vertical-align:middle;
    padding:10px;
}

.text1 {
    font-size:18px;
}

.text2 {
    text-align:left;
}

.banner {
    padding-top: 50px; 
    padding-bottom: 50px;
}
